{% extends 'layout.html' %}

{% block content %}
  <h1>{{package.user_name}}</h1>
<table class="table table-striped table-hover">
<tr>
  <th>拡張名</th>
  <th>状態</th>
</tr>
{% for key,value in package_status_dict.items %}
<tr>
<td>{{key}}</td>
<td>{{value}}</td>
</tr>
{% endfor %}
</table>
<div>
    <a href='JavaScript:history.back()' class="btn btn-primary">&lt; 戻る</a>
</div>
<a href="{% url 'domirecord:index' %}" class="btn btn-secondary">ドミニオン</a>
<a href="{% url 'domirecord:package_update' user.id %}" class="btn btn-secondary">編集</a>
{% endblock %}
