<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>サプライ生成</title>
        <style>body {padding: 10px;}</style>
    </head>
    <body>
      <h1>{{gamecount}}戦目</h1>
      <h2>サプライを表示</h2>
      <tr>王国カード</tr>
      {% for card in selectcards %}
      <div class="card">
      <tr>
        <td><a href={{card.6}}>{{card.1}}【{{card.2}}】</a></td>
        <td>{{card.4}}</td>
      </tr>
      </div>
      {% endfor %}
      <tr>イベントカード</tr><br>
      {% for event in selectevents %}
      <div class="event">
      <tr>
        <td><a href={{event.6}}>{{event.1}}【{{event.2}}】</a></td>
        <td>{{event.4}}</td>
      </tr>
      </div>
      {% endfor %}

        {% for key,value in winner.items %}
      <tr>
        name:<td>{{key}}</td>
        wins:<td>{{value}}</td>
      </tr><br>
      {% endfor %}

      <a href="{% url 'domirecord:index' %}">TOP</a>
      <a href="{% url 'domirecord:select' %}">拡張の選択</a>
      <a href="{% url 'domirecord:gamestart' %}">サプライ再生成</a>
      <a href="{% url 'domirecord:result' %}">結果入力</a>
    </body>
</html>
