<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>サプライ生成</title>
        <style>body {padding: 10px;}</style>
    </head>
    <body>
    <h1>Select</h1>
    <h2>このページで拡張を選択</h2>

    {% for package in package_list %}

    <form action="" method="post">
    {% csrf_token %}
    <tr>
      <td>{{package.package_name}}</td>
      <td>{{package.package_onoff}}</td>
      <td><input type="checkbox" name="select" id="select{{forloop.counter}}" value="{{package.package_name}}"></td>
    </tr>
    <br>
    {% endfor %}

      <input type="submit" value="change">
    </form>


      <a href="{% url 'domirecord:index' %}">TOP</a>
      <a href="{% url 'domirecord:gamestart' %}">シャッフル</a>
    </body>
</html>
